<h2>Record a Dream</h2>

<form method="post" action="/dreams" id="form">
  Date: <input id="date" type="date">
  Description: <input type="text" name="story"><br>
  <input type="submit" value="submit" id="submit">
</form>
