<h1> Welcome, <%= @user.username %> </h1>

<h2>Dreams</h2>

<ul>
<% Dream.all.each do |dream| %>
    <li> <%= dream.date %>: <%= dream.story %> </li>
    <br>
<% end %>
</ul>

<p><a href='/logout'>Log Out</a></p>
