<h3> Hello, <%= @user.username %> </h3>

<p>Add a new dream <a href='/dreams/new'>here</a></p>


<h2>Dreams</h2>

<ul>
<% Dream.all.each do |dream| %>
    <li> <a href='/dreams/<%=dream.id%>'><%= dream.date.strftime("%b %d, %Y") %></a>: <%= dream.story %> </li>
    <br>
<% end %>
</ul>

<p><a href='/logout'>Log Out</a></p>
